* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Outfit";
    text-decoration: none;
}

body {
    background-color: #F7F7F7;
}

:root {
    --main-color: #C68313;
    --rgba-color: rgba(198, 131, 19, 20%);
}

header {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 27px 30px;
    border-radius: 20px;
    margin-top: 18px;

    & nav {
        display: flex;
        gap: 70px;

        & a {
            font-weight: 500;
            font-size: 18px;
        }

        & .home {
            color: var(--main-color);
        }
    }

    & .registrar {
        background-color: var(--main-color);
        color: #fff;
        padding: 10px 22px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 20px;
    }
}

.hero-sec {

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;

    & .hero-sec-left {
        margin-top: 148px;
        width: 50%;
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-left: 86px;

        & .category {
            display: flex;
            gap: 10px;
            padding: 6px 16px;
            background-color: var(--rgba-color);
            border-radius: 4px;
            max-width: fit-content;
            height: 48px;
            align-items: center;

            & p {
                color: var(--main-color);
                font-weight: 600;
                font-size: 20px;
            }
        }

        & .text {
            & h2 {
                font-weight: 300;
                font-size: 50px;
            }

            & h1 {
                font-weight: 500;
                font-size: 86px;
                white-space: nowrap;
            }

            & p {
                font-size: 20px;
            }
        }

        & .buttons {
            display: flex;
            gap: 20px;

            & .btn-1 {
                background-color: var(--main-color);
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                padding: 14px 24px;
                border-radius: 8px;
            }

            & .btn-2 {
                padding: 14px 24px;
                border-radius: 8px;
                border: 1px solid var(--main-color);
                color: var(--main-color);
                font-size: 20px;
                font-weight: 600;
            }
        }

        & .partners {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & p {
                font-size: 18px;
                font-weight: 500;
                color: var(--main-color);
            }

            & .icons {
                display: flex;
                gap: 39px;

                & .dribbble {
                    width: 98px;
                }
            }

        }
    }

    & .hero-image {
        width: 50%;

        & img {
            width: 100%;
            height: 100%;
            max-width: max-content;
            min-height: max-content;
        }
    }
}

.services-sec {
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 962px;
    padding-right: 104px;


    & .services-sec-right {
        display: flex;
        flex-direction: column;
        gap: 45px;
        width: 642px;
        max-height: fit-content;

        & .category {
            display: flex;
            gap: 10px;
            padding: 6px 16px;
            background-color: var(--rgba-color);
            border-radius: 4px;
            max-width: fit-content;
            height: 48px;
            align-items: center;

            & p {
                color: var(--main-color);
                font-weight: 600;
                font-size: 20px;
            }
        }

        & .text {
            & h2 {
                font-weight: 300;
                font-size: 50px;
                white-space: nowrap;
            }

            & .bold {
                font-size: 62px;
                font-weight: 500;
            }

            & p {
                font-size: 20px;
            }
        }

        & .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 560px;
            height: 348px;
            gap: 20px;

            & div {
                display: flex;
                width: 270px;
                height: 164px;
                padding: 14px 24px;
                border: 2px solid var(--main-color);
                border-radius: 12px;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                & img {
                    width: 40%;
                }

                & p {
                    font-size: 22px;
                    font-weight: 600;

                    & b {
                        font-weight: 600;
                        color: var(--main-color);
                    }
                }
            }

        }
    }

    & .services-sec-left {
        width: 50%;

        & img {
            width: 100%;
            height: 100%;
            max-width: max-content;
            min-height: max-content;
        }
    }
}

.reach-sec {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    height: 950px;

    & .reach-sec-left {
        display: flex;
        flex-direction: column;
        gap: 38px;
        width: 644px;
        max-height: fit-content;
        margin-left: 72px;
        margin-bottom: 175px;

        & .category {
            display: flex;
            gap: 10px;
            padding: 6px 16px;
            background-color: var(--rgba-color);
            border-radius: 4px;
            max-width: fit-content;
            height: 48px;
            align-items: center;

            & p {
                color: var(--main-color);
                font-weight: 600;
                font-size: 20px;
            }
        }

        & .text {
            & .h2-1 {
                font-weight: 300;
                font-size: 48px;

                & b {
                    color: var(--main-color);
                }
            }

            & .h2-2 {
                font-size: 68px;
                font-weight: 500;
            }

            & .bold {
                font-size: 150px;
                color: var(--main-color);
                font-weight: 500;
            }

            & p {
                font-size: 20px;
            }
        }

    }

    & .reach-sec-right {
        width: 50%;

        & img {
            width: 100%;
            height: 100%;
            max-width: max-content;
            min-height: max-content;
        }
    }
}